.manifest
home/.config/sublime-text-2/Settings/
home/.config/sublime-text-2/Backup/
home/.config/sublime-text-2/Packages/User/FileHistory.json
home/.config/sublime-text-2/Packages/User/ChangeList.sublime-settings

.netrwhist
tags
tags.log
