[submodule "home/.bash/oh-my-zsh"]
	path = home/.bash/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/.bash/battery"]
	path = home/.bash/battery
	url = https://github.com/Goles/Battery.git
[submodule "home/.bash/zsh-autosuggestions"]
	path = home/.bash/zsh-autosuggestions
  url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "home/.bash/awsh"]
	path = home/.bash/awsh
  url  = https://github.com/kirstein/awsh.git
